.audio__cont {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    align-items: center;
    background-color: #9F86C0;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    min-width: 49rem;
    max-width: 49rem;
}


.audio__cont:hover {
    background-color: #E0B1CB;
    cursor: pointer;
}

.song__creator{
    text-decoration: none;
    color: black;
}


.s__logo{
    max-height: 150px;
    max-width: 150px;
    border-radius: 8px;
    border: 1px solid black;
    margin-right: 20px;
}

.song__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 120px;
}

.audio__bar{
    min-width: 600px;
}

.song__info__title{
    max-width: 90%;
    font-size: 32px;
    font-weight: bold;
}

.song__info__artist{
    font-size: 22px;
    font-weight: normal;
}

.song__info__sub{
    max-width: 160px;
    min-width: 160px;
}

.user__song__func__buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 6px
}

.parent__audio__cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

