.audio__cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 1px solid black;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    align-items: center;
    background-color: #9F86C0;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.home_audio {
    min-width: 150%;
}

.user_audio {
    min-width: 100%;
}

.audio__cont:hover {
    background-color: #E0B1CB;
    cursor: pointer;
}

.song__creator{
    text-decoration: none;
    color: black;
}


.s__logo{
    max-height: 150px;
    max-width: 150px;
    border-radius: 8px;
    border: 1px solid black;
}

.song__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 500px
}

.audio__bar{
    min-width: 500px;
}

.song__info__title{
    max-width: 330px;
}

.song__info__artist{
    font-size: 18px;
    font-weight: normal;
}

.song__info__sub{
    max-width: 160px;
    min-width: 160px;
}
