.audio__cont {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 1px solid black;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    align-items: center;
    background-color: #9F86C0;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    min-width: 44vw;
    min-width: 44vw;
}


.audio__cont:hover {
    background-color: #E0B1CB;
    cursor: pointer;
}

.song__creator{
    text-decoration: none;
    color: black;
}


.s__logo{
    max-height: 16.00vh;
    max-width: 7.8vw;
    border-radius: 8px;
    border: 1px solid black;
    margin-right: 20px;
}

.song__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 12.8vh;
}

.audio__bar{
    min-width: 31.25vw;
}

.song__info__title{
    max-width: 90%;
    font-size: 2rem;
    font-weight: bold;
    min-width: 98%;
}

.song__info__artist{
    font-size: 1.375rem;
    font-weight: normal;
}

.song__info__sub{
    max-width: 8.33vw;
    min-width: 8.33vw;
}

.user__song__func__buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 6px;
}

.parent__audio__cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.song__info__artist__cont{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}
