.comment__button {
    margin: 5px
}

.comment__form{
    min-width: 200px;
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.comment__edit__textarea{
    min-height: 100px;
    min-width: 350px;
    text-align: left;
    padding: 5px;
    font-size: 16px;
}
