.comment__button {
    margin: 5px
}

.comment__form{
    min-width: 10.41vw;
    min-height: 21.34vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.comment__edit__textarea{
    min-height: 10.67vh;
    min-width: 18.229vw;
    text-align: left;
    padding: 5px;
    font-size: 1rem;
}
