.Userpage__cont {
    background-color: #BE95C4;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    min-height: calc(100vh - 50px - 70px);
    min-width: 94.8%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Userpage__songs__cont{
    background-color: #5E548E;
    width: 80%;
    max-height: calc(100vh - 50px - 55px);
    overflow: auto;
    margin-top: 15px;
    border-radius: 6px;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
