body {
    background-color: #231942;
    font-family: overpass;
}

/* .section__container {
    min-width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 30px;
}

.cont {
    display: flex;
    border: 1px solid black;
    max-width: 40%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 50px;
    max-height: calc(100vh - 50px - 85px);
    overflow: auto;
    border-radius: 7px;
    background-color: #5E548E;
    padding-bottom: 15px;
} */

.song__sidebar__cont{
    background-color: #5E548E;
    min-width: 49.5%;
    max-height: calc(100vh - 50px - 50px);
    overflow: auto;
    margin-top: 15px;
    border-radius: 6px;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__contents{
    background-color: #5E548E;
    min-width: 49.5%;
    max-height: calc(100vh - 50px - 50px);
    overflow:auto;
    margin-top: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 49.5%;
}

.body__cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sidebare__title{
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    font-size: 26px;
}

.sidebare__title__cont{
    background-color: #E0B1CB;
    max-width: 30%;
    margin: 15px;
    border: 1px solid black;
    border-radius: 6px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

@font-face {
    font-family: overpass;
    src: url('./fonts/Overpass-Light.ttf');
}

button{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    background-color: #BE95C4;
    border-radius: 6px;
    cursor: pointer;
}

.nav__button{
    font-size: 26px;
    background-color: #9F86C0;
}

.form__cont{
    max-width: 98%;
    min-height: calc(100vh - 50px - 122px);
    max-height: calc(100vh - 50px - 122px);
    border: 1px solid black;
    background-color: #BE95C4;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    min-width: 92.4%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form__button{
    background-color: #9F86C0;
    font-size: 26px;
}

.form__input__cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    margin-bottom: 45px;
}

.form__input{
    font-size: 28px;
    border-radius: 6px;
}

.doc__input{
    text-align: center;
    margin: auto;
    vertical-align: middle;
    max-width: 350px;
}

.modal__form{
    margin: unset;
    min-height: unset;
    max-height: unset;
}

#modal-content{
    border-radius: 10px;
}

.modal__form__input__cont{
    margin-bottom: 25px;
}
