.songPage{
    display: flex;
}

.songPage__cont{
    min-width: 96%;
    min-height: calc(100vh - 50px - 126px);
    max-height: calc(100vh - 50px - 126px);
    border: 1px solid black;
    background-color: #BE95C4;
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
}

#songPage-all-cont{
    margin-right: unset;
    margin-left: unset;
    margin-top: 30px;
    min-height: calc(100vh - 50px - 115px);
    padding-bottom: 15px;
}

.song_audio{
    min-width: 165%;
}

.song__info__cont{
    min-height: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
}

.song__comment__cont{
    max-height: 55%;
    min-height: 55%;
    overflow: auto;
    background-color: #E0B1CB;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 5px;
}


.comment__li {
    background-color: #9F86C0;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border: 1px solid black;
}

.songPage__audio{
    min-width: 1025px;
}

.songPage__info__title{
    font-size: 36px;
    font-weight: bold;
}

.songPage__info__artist{
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.write__comment__cont{
    min-width: 100%;
    max-width: 100%;
    min-height: 15%;
    max-height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px
}

.songPage__comment__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    min-width: 100%;
}

.songPage__comment__textarea{
    min-width: 90%;
    min-height: 65px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    border: 1px solid black;
    font-size: 18px;
}

.songPage__comment__button{
    font-size: 18px;
    margin-top: 8px
}

.comment_text{
    font-size: 26px;
    margin: 5px;
    text-align: center;
}

::placeholder{
    color:black;
    font-size: 18px;
}

.li__comment__holder{
    padding-bottom: 10px;
}

.comment__info__cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.comment__info__box{
    min-width: 33%;
    max-width: 33%;
}

.comment__author{
    text-decoration: none;
    color: black;
}

.comment__createdOn{
    text-align: end;
}

.comment__buttons{
    text-align: center;
}

.song__title__artist{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#songPage__img{
    margin-right: 15px;
    margin-bottom: 10px;
}
